<footer class="page-footer #283593 indigo darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer</h5>
                <p class="grey-text text-lighten-4">Contactanos...</p>
            </div>
            <div class="col l4 offset-l2 s12 right">
                <h5 class="white-text">Contacto</h5>
                <ul>
                    <li><a class="white-text fas fa-home mr-3" href="#">  Jr. Mariscal Sucre 180</a></li>
                    <li><a class="white-text fas fa-envelope mr-3" href="#">  amarrufoh15@unc.edu.pe</a></li>
                    <li><a class="white-text fas fa-phone mr-3" href="#">  +51 926190736</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2020 Copyright Autor: Alex Marrufo
            <a class="grey-text text-lighten-4 right" href="#!">Ing. Web - UNC</a>
        </div>
    </div>
</footer>